#### Import Dependencies

In [1]:
import pandas as pd

##### Read in cities_weather.csv from my previous homework assignment: WeatherPy

In [2]:
cities_weather = pd.read_csv("Resources/cities_weather.csv")

#####  Rename index column header to City_ID

In [3]:
cities_weather = cities_weather.rename_axis(index="City_ID")

##### Visualize cities

In [4]:
cities_weather.head()

,City,Country,Cloudiness,Date,Humidity,Lat,Lng,Temp,Max Temp,Wind Speed
City_ID,,,,,,,,,,
0,Barrow,US,1,1579917160,68,71.29,-156.79,-18.40,-18.40,10.29
1,Victoria,SC,20,1579917460,83,-4.62,55.45,82.40,82.40,3.36
2,Ternate,ID,41,1579917460,58,0.80,127.40,87.67,87.67,5.39
3,Puerto Ayora,EC,23,1579917460,57,-0.74,-90.35,77.00,77.00,1.01
4,Avarua,CK,80,1579917174,88,-21.21,-159.78,82.40,82.40,8.05

##### Write cities_weather data frame to html table to use in website data page

In [7]:
cities_weather.to_html("cities_weather.html")